h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    display: inline-block;
    border-bottom: 2px solid;
}

h3 {
    font-size: 2rem;
    display: inline-block;
    border-bottom: 2px solid;  
}

.collection {
    font-size: 1.1rem;
}

.collection li {
    margin-top: 12px;
    margin-left: 15px;
    cursor: pointer;
}

.collection li:hover {
    color: blueviolet;
    text-decoration: underline;
}

.collection-carrito {
    font-size: 1.2rem;
    margin-left: 15px;
}

.collection-carrito li {
    margin: 12px 0;
    cursor: pointer;
}

.collection-carrito li:hover {
    color: #fe7301;
    text-decoration: underline;
}

.linkIndex {
    margin-top: 50px;
    font-size: 1rem;
}

/* Formulario */

.formMain {
    margin-bottom: 30px;
}

.formP {
    font-size: 1.2rem;
    margin: 10px 0 15px 0;
    font-weight: 500;
}

.titulo {
    margin-top: 10px;
}

.linkForm {
    margin-top: 40px;
}