* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

h1 {
    font-size: 3rem;
}

.shoppingCart {
    margin-top: 20px;
    margin-bottom: 30px;
}

.cardProduct {
    width: 320px;
    height: 420px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.imgProduct {
    height: 65%;
    width: 90%;
    object-fit: cover;
    margin-left: 5%;
}

#cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center; 
}

